<div *ngIf="localAuction.isBidActive == false">
  <h1>Username</h1>
  <input type="text" name="userName" [(ngModel)]="userName"/> <br>
  <h2>Submit auction</h2>
  <label>Auction Item</label>
  <input type="text" name="itemName" [(ngModel)]="itemName"> <br>
  <label>Target Price</label>
  <input type="number" name="pricePoint" [(ngModel)]="pricePoint"> <br>
  <button class="btn btn-primary" (click)="createNewAuction()">Submit Auction</button> <br>
</div>

<div *ngIf="localAuction.isBidActive">
  <h2>Current Auction: {{localAuction.auctionDescription}} which was made by {{localAuction.name}}</h2>

  <h3>Your bid: </h3>
    <label>Name</label>
    <input type="text" name="userName" [(ngModel)]="userName">
    <label>Bid Amount</label>
    <input type="number" name="bidAmount" [(ngModel)]="bidAmount">
    <button (click)="sendBid()">Submit Bid</button>
    <div *ngIf="isBidder">
      Auction Time Left<input type="number" name="time" [(ngModel)]="time"> <br>
      <button (click)="startTimer()">End Auction</button>
    </div>

     <h2>Highest bid is: {{bestBid.value}}</h2>
    <h2>Highest bid by:{{bestBid.name}}</h2>
  
    <br>
    <table>
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Bid</th>
      </thead>
      <tbody>
        <tr *ngFor="let bid of bidsArray; let i = index">
          <td>{{i + 1}}</td>
          <td>{{bid.name}}</td>
          <td>{{bid.value}}</td>
        </tr>
      </tbody>
    </table> 
</div>